<mat-toolbar color="primary">

  <span class="logo">
    MotoStore
  </span>

  <span class="spacer"></span>

  <button mat-button routerLink="/">
    Catálogo
  </button>

  <button mat-button routerLink="/carrito">
    Carrito
  </button>

  <ng-container *ngIf="authService.isLoggedIn(); else guestLinks">
    <button mat-button (click)="logout()">
      Logout
    </button>
  </ng-container>

  <ng-template #guestLinks>
    <button mat-button routerLink="/login">
      Login
    </button>

    <button mat-button routerLink="/register">
      Register
    </button>
  </ng-template>

</mat-toolbar>